<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
<table>
<tr>
<td align='left' valign='top' width='30%'><%-loaihoa%></td>
<td align='left' valign='top' ><%-dshoa%></td>

</body>
</html>
