<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
    <script src="../modules/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="myApp" ng-controller="myController">
<h1 style="background-color: red"> AAAAAAAAAAAAAAAAAAAAAAAA</h1>
<h1> AAAAAAAAAAAAAAAAAAAAAAAA</h1>
  <h1>{{title}}</h1>
  <table>
    <th>Mã hoa</th>
    <th>Mã loại</th>
    <th>Tên hoa</th>
    <th>Đơn giá</th>
    <th>Hình</th>
    <th>Mô tả</th>
    <tbody ng-repeat="flower in listFlowers">
      <tr>
        <td>{{flower.mahoa}}</td>
        <td>{{flower.maloai}}</td>
        <td>{{flower.matenhoa}}</td>
        <td>{{flower.madongia}}</td>
        <td>{{flower.hinh}}</td>
        <td>{{flower.mota}}</td>
      </tr>
    </tbody>
  </table>
</body>
</html>